<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SqlLoadGeneratorUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SqlLoadGeneratorUI.Properties.Settings>
      <setting name="ApplicationLogFilename" serializeAs="String">
        <value>SqlGeneratorErrors.txt</value>
      </setting>
      <setting name="ApplicationLogLocation" serializeAs="String">
        <value>.\</value>
      </setting>
      <setting name="ApplicationLogging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultUsername" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DefaultPassword" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="DefaultDatabase" serializeAs="String">
        <value>AdventureWorks2016CTP3</value>
      </setting>
      <setting name="DefaultIsDomainAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultHidePassword" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultConcurrentQueryCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DefaultApplication" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultQuery" serializeAs="String">
        <value>
          SELECT 	*
          FROM	Sales.SalesOrderDetail
        </value>
      </setting>
      <setting name="AllDatabases" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>AdventureWorks</string>
            <string>AdventureWorks2016CTP3</string>
            <string>BabbyNames</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AllServers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>localhost</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AllApplications" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Widget-o-Matric</string>
            <string>Widgetelligence Scorecards</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ConnectionStringModifiers" serializeAs="String">
        <value>Pooling=false;Persist Security Info=False;Timeout=300</value>
      </setting>
      <setting name="DefaultServer" serializeAs="String">
        <value>localhost</value>
      </setting>
    </SqlLoadGeneratorUI.Properties.Settings>
  </userSettings>
</configuration>